<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="auto">

<head>
    <script src="~/js/color-modes.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BarraSuplementos | @ViewData["Title"]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/img/icon-deal.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    @await RenderSectionAsync("Styles", required: false)
    <meta name="theme-color" content="#712cf9">
</head>

<body>
    <partial name="_StyleSwitcher"></partial>
    <partial name="_Loading"></partial>

    <div class="container-fluid p-0">
        <main role="main" class="d-flex flex-nowrap">
            <div id="sidebar" class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">
                <a asp-action="Index" asp-controller="Admin"
                    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <img class="img-fluid" src="~/img/logo.png" alt="Logo" width="25">
                    <h1 class="fs-5 m-0 ms-3 ">Barra Suplementos</h1>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="Admin" class="nav-link @(ViewBag.Title == "Dashboard" ? "active" : "link-body-emphasis")">
                            <i class="bi bi-speedometer2 me-2"></i>
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Propriedades" class="nav-link @(ViewBag.Title == "Propriedades" ? "active" : "link-body-emphasis")">
                            <i class="bi bi-house me-2"></i>
                            Produto
                        </a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="TipoPropriedades" class="nav-link @(ViewBag.Title == "Tipos de Propriedades" ? "active" : "link-body-emphasis")">
                            <i class="bi bi-list-stars me-2"></i>
                            Tipos de Propriedades
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link @(ViewBag.Title == "Agentes" ? "active" : "link-body-emphasis")">
                            <i class="bi bi-people-fill me-2"></i>
                            Agentes
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link @(ViewBag.Title == "Avaliações" ? "active" : "link-body-emphasis")">
                            <i class="bi bi-chat-text-fill me-2"></i>
                            Avaliações
                        </a>
                    </li>
                </ul>
                <hr>
                <partial name="_LoginPartialAdmin"></partial>
            </div>

            <div class="container-fluid py-2">
                <nav class="navbar sticky-top border-bottom">
                    <button id="sidebarToggler" class="navbar-toggler border-0 p-0" type="button" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </nav>
                <div class="container-fluid p-3">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
